1. A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

* What is the probability that no cars drive up in the noon hour?
* What is the probability that 3 or more cars come through the drive through?
* How likely is it that the drive through gets at least 1 car?

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

In [3]:
# poisson distribution
位 = 2

In [25]:
# What is the probability that no cars drive up in the noon hour?
no_cars = stats.poisson(位).pmf(0)
no_cars

0.1353352832366127

In [24]:
noon = np.random.poisson(2, 10000)
(noon == 0).mean()

0.1384

In [6]:
# What is the probability that 3 or more cars come through the drive through?
stats.poisson(位).sf(2).round(2)

0.32

In [7]:
# How likely is it that the drive through gets at least 1 car?

stats.poisson(位).sf(0).round(2)

0.86

2. Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

* What grade point average is required to be in the top 5% of the graduating class?
* What GPA constitutes the bottom 15% of the class?
* An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?
* If I have a GPA of 3.5, what percentile am I in?

In [9]:
# Normal distribution
mean = 3
std_dev = 0.3

grades = stats.norm(mean, std_dev)

In [14]:
# What grade point average is required to be in the top 5% of the graduating class?
grades.isf(0.05)

3.4934560880854417

In [15]:
# What GPA constitutes the bottom 15% of the class?
grades.ppf(0.15)

2.689069983151863

In [ ]:
# An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?

In [13]:
a = grades.ppf(0.3)
b = 2.8

if a > b:
    print('Qualify for scholarship')
else:
    print('Not qualify for scholarship')

Qualify for scholarship

In [27]:
# If I have a GPA of 3.5, what percentile am I in?
grades.sf(3.5).round(2)

0.05

3. A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

In [34]:
# binomial distribution
stats.binom(4326, 0.02).sf(96)

0.13975823631416445

4. You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.

* What is the probability that at least one of your first 60 answers is correct?

In [36]:
# binomial distribution
p = 0.01
n = 60

stats.binom(60, 0.01).sf(0)

0.45284335760923855

5. The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

In [46]:
n = 3*22*0.9
n = round(n,0)
n

59.0

In [52]:
# binomial
p = 0.03

# clean up each day
a = stats.binom(n, p).sf(0)
a

0.8342199288437352

In [57]:
# no claeaning for 2 days
(1-a)**2

0.027483031992576224

In [58]:
# All week
(1-a)**5

0.00012521651388091348

6. You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [60]:
# normal distribution
mean = 15
std_dev = 3

number = stats.norm(mean, std_dev)

In [67]:
# (number*2) < 45-12
(45-12)/2

16.5

In [69]:
number.cdf(16.5)

0.6914624612740131

7. Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

a. What percent of employees earn less than 60,000?

b. What percent of employees earn more than 95,000?

c. What percent of employees earn between 65,000 and 80,000?

d. What do the top 5% of employees make?

Hint If you're looking at this exercise and wondering "How do I get pandas to talk the database, again?", remember that you'll need 3 things: your .gitignore, your env.py, and to use pd.read_sql. Copy over your .gitignore and env.py from your data science libraries exercises folder, and connect to the employees database like so:

import pandas as pd
import env

url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/employees'
pd.read_sql('SELECT * FROM departments', url)

In [77]:
import pandas as pd
import env

url = f'mysql+pymysql://{env.username}:{env.password}@{env.host}/employees'
data = pd.read_sql('SELECT * FROM salaries', url)

In [79]:
data.head()

   emp_no  salary   from_date     to_date
0   10001   60117  1986-06-26  1987-06-26
1   10001   62102  1987-06-26  1988-06-25
2   10001   66074  1988-06-25  1989-06-25
3   10001   66596  1989-06-25  1990-06-25
4   10001   66961  1990-06-25  1991-06-25

In [83]:
mean = data.salary.mean()
mean

63810.744836143705

In [85]:
std = data.salary.std()
std

16904.831259952276

In [86]:
# normal distribution
salary = stats.norm(mean, std)

In [95]:
# a. What percent of employees earn less than 60,000?
salary.cdf(59999)

0.4108019408157459

In [88]:
# b. What percent of employees earn more than 95,000?
salary.sf(95000)

0.03251945131024514

In [ ]:
# c. What percent of employees earn between 65,000 and 80,000?

In [94]:
(data["salary"].between(65_000, 80_000)).mean()

0.24330786375893226

In [98]:
salary.cdf(80000) - salary.sf(64999)

0.3589044085066333

In [89]:
# d. What do the top 5% of employees make?
salary.isf(0.05)

91616.71784707883